body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 20px;
}

.box-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    order: 1;
}

.pot {
    margin-top: 20px;
    font-size: 18px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
}

.pot p {
    margin: 5px 0;
}

#pot1 {
    background-color: #C80003;
}

#pot2 {
    background-color: #7B7FBA;
}

#pot3 {
    background-color: #7BBA8A;
}

#pot4 {
    background-color: #F7F7AC;
}


.grupa {
    width: 150px;
    margin: 0 10px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.grupa h2 {
    margin-bottom: 10px;
}


.grupe-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pot .team.highlighted {
    background-color: #d3d3d3;
}

.pot-table .team.highlighted {
    background-color: #d3d3d3;
}

.pot p.drawn {
    background-color: #555; 
    color: #fff; 
}

@media only screen and (max-width: 600px) {
    .box-container {
        flex-direction: column;
    }

    .grupa {
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }
}